.container {
  position: relative;
  width: 100vw;
  height: 100vh
}

.coordinates {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #FFFFFF;
  padding: 2px 8px;
  margin: 10px;
  border-radius: 100px;
  font-size: 12px;
}
